<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test1</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">password</property>
		
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping class="com.bulleteers.club.pojo.Person" />
		<mapping class="com.bulleteers.club.pojo.UserAccount" />
		<mapping class="com.bulleteers.club.pojo.Role" />
		<mapping class="com.bulleteers.club.pojo.Club" />
		<mapping class="com.bulleteers.club.pojo.Dealer" />
		<mapping class="com.bulleteers.club.pojo.Item" />
		<mapping class="com.bulleteers.club.pojo.Member" />
		<mapping class="com.bulleteers.club.pojo.Order" />
		<mapping class="com.bulleteers.club.pojo.Product" />
		<mapping class="com.bulleteers.club.pojo.Ride" />
		<mapping class="com.bulleteers.club.pojo.Message" />
		
		
		
	

	</session-factory>
</hibernate-configuration>
